[submodule "EngineSFMLBackEnd/EngineInterface"]
	path = EngineSFMLBackEnd/EngineInterface
	url = https://github.com/MoAgilah/EngineInterface
[submodule "EngineInterface"]
	path = EngineInterface
	url = https://github.com/MoAgilah/EngineInterface
